html, body {
  height: 100%;
  width: 100%;
}
#postsPage {
    text-align: center;
}
#poster {
    width: 50px;
    height: 50px;
    font-size: 25px;
}
#createPost {
    width: 50px;
    height: 20px;
}
.postSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.post {
    outline: 3px lightblue;
    width: 300px;
    height: auto;
}
.hidden {
    display: none;
}
